canvas 
{
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: radial-gradient(#8ED3CF, #07484E);
	
}

body
{
	/*overflow: hidden;		Keine Scrollbars*/
	font-family: Segoe Ui;
	text-align: center;
}

.seiten
{
	max-width: 1536px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	height: 100%;
	background-color: rgba(244, 244, 244, 0.90);
    font-weight: normal;
    font-style: normal;
	box-shadow: 2px -5px 5px rgba(0, 0, 0, 0.3);
	cursor: default;
	padding: 150px;
	padding-top: 50px;
}

#kontakt
{
	top: 1000px;
	
}

#kontakt input
{
	margin-bottom: 10px;
}

textarea
{
	vertical-align: middle;
	margin-bottom: 20px;
}

#impressum
{
	top: 1200px;
	
}

p
{
	color: #666;
}

h2
{
	color: #333;
}